<div class="container mt-4">
  <h1>Search Results</h1>
  <p>
    <% if @query.present? %>Searching for "<%= @query %>"<% end %>
    <%= link_to "New search", beers_path, class: "ms-2" %>
  </p>

  <% if @query.blank? && params[:style_id].blank? %>
    <p class="text-muted">Enter a beer name or choose a style to search.</p>
  <% elsif @beers.any? %>
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th><th>Style</th><th>Brewery</th><th>ABV</th></tr>
      </thead>
      <tbody>
        <% @beers.each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer %></td>
            <td><%= link_to beer.style.name, beer.style %></td>
            <td><%= link_to beer.brewery.name, beer.brewery %></td>
            <td><%= beer.abv %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @beers %>
  <% else %>
    <p>No beers matched your search. Try a different name or style.</p>
  <% end %>
</div>